body {
  background-color: black;
  margin: 0;
  font-size: 0;
}

.purple-brick {
  background-image: url("img/purple-brick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.red-brick {
  background-image: url("img/red-brick.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.yellow-brick {
  background-image: url("img/yellow-brick.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.green-brick {
  background-image: url("img/green-brick.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blue-brick {
  background-image: url("img/blue-brick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row div {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.coin {
  background-image: url("img/bounce-coin.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cherry {
  background-image: url("img/cherry.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pacman {
  background-image: url("img/pacman.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20px;
  width: 20px;
  position: absolute;
}

#inky {
  background-image: url("img/inky-ghost.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20px;
  width: 20px;
  position: absolute;
}

#mika {
  background-image: url("img/mika-ghost.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20px;
  width: 20px;
  position: absolute;
}

.container {
  position: absolute;
  margin-top: 40vh;
  margin-left: 35%;
  display: flex;
  justify-content: center;
}

.board {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 415px;
}

.score {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 410px;
  margin: 0px;
}

.yellow-text {
  font-size: 30px;
  color: yellow;
}

#game-over {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 50%;
}

.text-center {
  text-align: center;
}
.red-text {
  margin: 0;
  font-size: 30px;
  color: red;
}
